* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif; 
}

.body {
    padding: 1em;
    background-color: #fff;
}

body {
    background-color: rgba(125, 19, 109, 1);
}

/* Typographie */
h1 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    font-weight: 700;
    
}

h2 {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.5px;
    font-weight: 700;
}

p {
    font-size: 18px;
}

a {
    color: #fff;
    text-decoration: none;
}

.link--black {
    color: #000;
    text-decoration: underline;
}

/* Logo */
header {
    font-size: 30px;
    max-width: 800px;
    margin: 0 auto;
}
header span {
    border-right:rgba(125, 19, 109, 0.8) solid 3px;
}

header a {
    color: #000;
}

/* Hero */
.hero-container {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.hero-intro span {
    display: block;
}

.hero-intro span:hover,
.hero-intro span:focus {
    color: #000;
}

.hero-container img {
    width: 300px; 
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hero-container p {
    text-align: center;
}

.hero-intro {
    text-align: center;
    margin-bottom: 0.5em;
}

.clickToSubPage {
    text-align: center;
    margin-top: 2em;
    width: 100vw;
    height: 100vh;
}
  
.transition-fade {
    transition: 1s;
    opacity: 1;
}
  
html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(-200px);
}

@media (min-width: 810px) {
    .hero-container {
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .hero-container img {
        width: auto;
        height: 500px;
    }

    .hero-top {
        margin-top: 5em;
    }
}

@media (min-width: 1000px) {
    .hero-container {
        width: 800px;
    }
}


/* Über */
.uber-section,
.skills-section {
    max-width: 800px;
    margin: 0 auto;  
}

.uber-section {
    text-align: center;
}

.uber-section h2,
.uber-section p {
    text-align: left;
}

.uber-section img {
    width: 200px;
    border-radius: 100px;
    margin: 3em;  
}

.uber-heading {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.uber-section p:first-of-type {
    font-weight: 700;
}

.uber-section p {
    margin-bottom: 1em;
}

.uber-section p:last-of-type {
    background-color: rgba(125, 19, 109, 0.8);
    color: #fff;
    padding: 1em;
    border-radius: 10px;
}

.skills-heading {
    font-size: 2em;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
    justify-content: center;
}

.zertifikat-container h3 {
    border-top: solid 2px rgba(125, 19, 109, 0.8);
    margin-bottom: 0.8em;
    margin-top: 1em;
    padding-bottom: 0.5em;
    color: #000;
}

.zertifikat-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
}

.zertifikat-container img {
    transform: rotate(90deg);
    width: 30px;
}

.zertifikat:last-of-type {
    margin-bottom: 3em;
}


/* Projekte */
#projekte-header {
    max-width: 1000px;
}

.projekte-section {
    text-align: center;
}

.projekte-section h1 {
    font-size: 3em;
}

.projekte-item {
    margin-bottom: 2em;
}

.projekte-item img {
    width: 100%;
    max-width: 650px;
}

.projekte-item h3,
.projekte-item p {
    text-align: left;
}

.projekte-item h3 {
    font-size: 2em;
    color: #000;
}

@media (min-width: 800px) {
    .projekte-section {
        max-width: 1000px;
        margin: 0 auto;
    }
    .projekte-item {
        display: grid;
        grid-template-areas: 
        "image heading"
        "image text"
        "image text"
        "image text";
        column-gap: 20px;
        margin-top: 3em;
    }

    .projekte-item img {
        width: 400px;
        grid-area: image;
    }
    
    .projekte-item h3 {
        grid-area: heading;
    }

    .projekte-item p {
        grid-area: text;
    }
}

/* Projektseiten */
main * {
    max-width: 800px;
    margin: 1em auto;
    margin-bottom: 1em;
}

main h1 {
    margin-bottom: 0;
}

ol, ul {
    list-style-position: inside;
}

article {
    border-top:rgba(125, 19, 109, 0.8) solid 1px;
}

.projekt-img-hero {
    max-width: 100%;
    padding: 1em;
}

.projekt-button-container {
    text-align: center;
}

.projekt-button-container button {
    width: 200px;
    padding: 1em;
    border: none;
    background-color: rgba(125, 19, 109, 0.8);
    color: #fff;
    font-size: 18px;
    border: #fff solid 2px;
}

.projekt-button-container button:hover,
.projekt-button-container button:focus {
    cursor: pointer;
    border: solid 2px #000;
}

.purple-arrow  {
    transform: rotate(90deg);
    width: 30px;
    margin-left: 0;
}

.arrow-description {
    display: flex;
    max-width: 250px;
    margin-left: 0;
    font-size: 18px;
}

.arrow-description span {
    padding-top: 4px;
    width: 100%;
    padding-left: 5px;
}

@media (min-width: 600px) {
    .projekt-img-container {
        text-align: center; 
    }

    .projekt-img-hero {
        width: 600px;
    }
}


/* Kontakt */
.kontakt {
    max-width: 800px;
    margin: 1em auto;
}

.message-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
}

.message-form * {
    margin-top: 1em;  
}

.message-form input {
    padding: 1em;
}

.message-form textarea {
    min-height: 200px;
    padding: 1em;
}

.message-form button {
    width: 200px;
    padding: 1em;
    margin: 1em auto;
    border: none;
    background-color: rgba(125, 19, 109, 0.8);
    color: #fff;
    font-size: 18px;
    border: #fff solid 2px;
}

.message-form button:hover,
.message-form button:focus {
    cursor: pointer;
    border: solid 2px #000;
}

.icons-list {
    text-align: center;
    margin-top: 1em;
}

.icons-list a {
    padding: 1em;
}